<ul>
<li>Superhero Name: <%= @superhero.name.split.map(&:capitalize).join(' ') %></li>
<li>Has Cape?: <%= @superhero.cape.to_s.capitalize %></li>
<li>Super power: <%= @superhero.super_power.split.map(&:capitalize).join(' ').gsub!('.',' ') %></li>
<li><%= image_tag @superhero.image %></li>
</ul>
<%= link_to "Edit Hero", edit_superhero_path(@superhero), method: :edit %>